body{
    background-image: url('background-image.jpg');
}

.cell{
    width: 105px;
    height: 105px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 90px;
    font-size: 50px;
    cursor: pointer;
}
#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 325px;
    margin: auto;
    background-color: rgb(224, 243, 237);
}
#restartBtn{
    padding: 0.5em 1em 0.5em 1em;
    background-color: aqua;
    border-radius: 2em;
    font-size: 32px;
}